*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(232, 233, 234);
    min-height: 100vh;
}

header{
  background-color: #7C3E66;
 
}

header nav{
    color: #F2EBE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

}

header nav .logo{
    font-family: poppins;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    margin: 0 80px;
    order: 1;
}

header nav .logo a{
    color: #F2EBE9;
    text-decoration: none;
   
} 

header nav ul{
    list-style: none;
    margin: 0 80px;
    order: 3;

}

header ul li{    
    display: inline-flex;
    font-size: 1.2rem; 
    padding-right: 2rem;
    text-transform: uppercase;
    
}

header nav ul li a{
    color: #F2EBE9;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #A5BECC;
    text-decoration: none;
    transform: scale(1.1);
    transition: .5s ease-in;
}

.checkbtn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    margin: 20px 15px;
    padding: 0 15px;
    order: 4;
    display: none;
}

#check{
    display: none;
    order: 2;
}

section{

}

.banner{
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.banner h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 15rem;
}

.card-section{
    background-color: #F2EBE9;   
}

.card-section h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.card-section h3{
    font-size: 1.5rem;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    /* min-height: 200px; */
    padding: 80px;
    flex-flow: row wrap;  
    max-width: 1400px;
    margin: 0 auto;
}

.card{
    background-color: #A5BECC;
    border: 4px solid #A5BECC;
    border-radius: 10px;
    flex: 1 0 400px;
    padding: 70px;
    margin: 20px ;
    text-align: center;
    min-height: 300px;
}

.card:hover{
    cursor: pointer;
    background-color: #7C3E66;
    border: 4px solid #7C3E66;
    border-radius: 10px;
    transform: scale(1.1);
    transition: .5s ease-in;
    
}

.cta{
    background-color: #A5BECC;
    min-height: 300px;
}

.cta h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 9rem;
}

footer{
    background-color: #243A73;
    color: #F2EBE9;
    padding: 30px;
    text-align: center;
}


/* Tablet styles*/
@media screen and (max-width: 1000px){
      header nav .logo{
          font-family: poppins;
          font-size: 1.7rem;
          text-transform: uppercase;
          margin: 0 45px;
      }
      
      header nav ul{
          list-style: none;
          /* margin: 0 30px; */
          width: 100%;
          height: 100vh;
          background-color: #A5BECC;
          position: fixed ;
          top: 75px;
          left: 100%;
          right:-100PX;
          text-align: center;
          transition: 0.5s ease-in-out;
      }

      nav ul li{
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }
        .checkbtn{
        display: block;
        }
   
    #check:checked ~ ul{
        left: -30px;
       
    }
}

/* Phone styles*/
@media screen and (max-width: 700px){
      header nav .logo{
          font-family: poppins;
          font-size: 1.7rem;
          text-transform: uppercase;
          margin: 0 30px;
      }
      
      header nav ul{
          list-style: none;
          margin: 0 30px;
      }

      .card-section h1{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    
    .card-section h3{
        font-size: 1.1rem;
        text-align: center;
    }

      .card{
        background-color: #A5BECC;
        border: 4px solid #A5BECC;
        border-radius: 10px;
        flex: 1 0 350px;
        padding: 70px;
        margin: 20px ;
        text-align: center;
        min-height: 300px;
    }
}